version: "3.9"

services:
  backend:
    build: .
    container_name: notes_api
    ports:
      - "8000:8000"
    environment:
      DB_HOST: db
      DB_NAME: notes
      DB_USER: user
      DB_PASS: pass
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: notes_db
    environment:
      POSTGRES_DB: notes
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
