apiVersion: apps/v1
kind: Deployment
metadata:
  name: notes-api
  labels:
    app: notes-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notes-api
  template:
    metadata:
      labels:
        app: notes-api
    spec:
      containers:
        - name: notes-api
          image: notes-api-backend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000

          env:

            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: notes-config
                  key: DB_HOST

            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: notes-config
                  key: DB_NAME

            - name: DB_USER
              valueFrom:
                configMapKeyRef:
                  name: notes-config
                  key: DB_USER


            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: notes-secret
                  key: DB_PASSWORD


          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 3
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
