apiVersion: apps/v1
kind: Deployment
metadata:
  name: notes-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notes
  template:
    metadata:
      labels:
        app: notes
    spec:
      containers:
      - name: notes-api
        image: notes-api:latest
        ports:
        - containerPort: 8000
        envFrom:
        - configMapRef:
            name: notes-config
        - secretRef:
            name: notes-secret
